@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700")


#body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
}

#header {
  border: solid 1px #D84315;
  height: 150px;
  width: 100%;
  background-color: #D84315;
  color: black;
  font-family: Montserrat;
  text-align: center;
  position: relative;
  top: 0px; left: 0px;
  z-index: 1;
  font-size: 50px;
 
}

#title {
  height: 100px;
  width: 100%;
  font-family: Montserrat;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  font-style: bold;
  
}

#sub {
  height: 10px;
  text-align: center;
  font-family: Roboto;
  font-style: bold;
  font-size: 20px;

}

#selfie img {
  height: 350px;
  width: 320px;
  display: block;
  margin-top: 30px;
  margin-left: 500px;
  border-radius: 100%;
}
 
#image-links img {
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-left: 167px;

}

#description {
  text-align: center;
  word-spacing: 800px;
  
}

#table {
  width: 300px;
  margin-top: 70px;
  margin-left: 540px;
  padding: 15px;
  text-align: center;
  border-collapse: collapse;
  border: 5px solid gray;
}
  
#help-box {
  height: 50px;
  width: 80px;
  text-align: center;
  background-color: #000;
  color: #E0F7FA;
  font-family: Montserrat;
  position: fixed;
  bottom: 5%;
  right: 0px; 
}

#footer {
  height: 50px;
  border-top: solid 1px #000;
  background-color: #000;
  text-align: center;
  color: white;
  font-family: Montserrat;   
}